<ion-header>
    <ion-toolbar>
        <!-- 25/02/18, LM - Changed from ion-title to h3 to allow for title to be fully displayed on iOS devices-->
        <h3 text-wrap>Your Approved Exercises</h3>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div style="padding-top:10vh;">
        <ion-list text-center>
            <ion-item *ngFor='let exercise of additionalExercises'>
                <button ion-button color="primary" full (click)="spawnDescription(exercise)">
                      {{exercise.exercise}} &nbsp; <ion-icon name="arrow-forward"></ion-icon>
                      </button>
            </ion-item>
        </ion-list>
    </div>
</ion-content>