<ion-header>
    <ion-navbar>
        <button ion-button menuToggle icon-only>
            <ion-icon name='menu'></ion-icon>
        </button>
        <ion-title>Workout Summary</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-spinner [hidden]="hasNotLoaded" class="center"></ion-spinner>
    <ion-card [hidden]="(!hasNotLoaded)" *ngFor="let exercise of todaysExercises">
        <ion-item *ngIf="evaluateCompletedStatus(exercise)" style="background-color: #32db64">
            {{ exercise.name }}
            <button *ngIf="!evaluateHasCompletedAnyExercises(exercise)" (click)="loadExercisePage(exercise)" ion-button item-end>
                Start
            </button>
            <button *ngIf="evaluateHasCompletedAnyExercises(exercise)" (click)="loadExercisePage(exercise)" ion-button item-end color="primary">
                retry
            </button>
        </ion-item>
        <ion-item *ngIf="!evaluateCompletedStatus(exercise)" style="background-color: #f4f4f4">
            {{ exercise.name }}
            <button *ngIf="!evaluateHasCompletedAnyExercises(exercise)" (click)="loadExercisePage(exercise)" ion-button item-end>
                Start
            </button>
            <button *ngIf="evaluateHasCompletedAnyExercises(exercise)" (click)="loadExercisePage(exercise)" ion-button item-end color="primary">
                retry
            </button>
        </ion-item>

        <!-- Time Based Exercise -->
        <ion-item *ngIf="exercise.exerciseType === exerciseTimed && exercise.completedResults.completedTimes.length > 0">
            <ion-label text-wrap>Time Held</ion-label>
            <ion-select [ngModel]="exercise.completedResults.completedTimes[i]" (ngModelChange)="exercise.completedResults.completedTimes[i] = $event"
                *ngFor="let timesBox of exercise.completedResults.completedTimes;let i = index; trackBy:customTrackBy" [hidden]="exercise.completedResults.completedTimes[i] == undefined"
                data-ng-disabled="true"
                disabled ="true">
                <ion-option *ngFor="let time of _exerciseServiceProvider.getSelectBoxIntervals(exercise.time)" [selected]="time == timesBox"
                    [value]="time">{{time}}
                </ion-option>
            </ion-select>
        </ion-item>

        <!-- Reps Based Exercise -->
        <ion-item *ngIf="exercise.exerciseType === exerciseRepsSets && exercise.completedResults.completedReps.length > 0">
            <ion-label text-wrap>Reps Managed</ion-label>
            <ion-select [ngModel]="exercise.completedResults.completedReps[i]" (ngModelChange)="exercise.completedResults.completedReps[i] = $event"
                *ngFor="let repsBox of exercise.completedResults.completedReps;let i = index; trackBy:customTrackBy" [hidden]="exercise.completedResults.completedReps[i] == undefined"
                data-ng-disabled="true"
                disabled ="true">
                <ion-option *ngFor="let reps of _exerciseServiceProvider.getSelectBoxIntervals(exercise.reps)" [selected]="reps == repsBox"
                    [value]="reps">{{reps}}
                </ion-option>
            </ion-select>
        </ion-item>
    </ion-card>
</ion-content>