<ion-header>
    <ion-navbar>
        <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
        <ion-title>Recovery Statistics</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <div *ngIf="stats" text-center>
        <ion-title>Progress Through Recovery</ion-title>
        <div class="progress-outer">
            <div class="progress-inner" [style.width]="progress + '%'">
                {{progress}}%
            </div>
        </div>
        <ion-title>Excercise Success So Far</ion-title>
        <button *ngIf="!loadedBar" ion-button (click)="updateBarGraph()">Load</button>
        <div style="height:30vh">
            <canvas #barCanvas></canvas>
        </div>

        <ion-card *ngIf="loadedBar">
            <ion-card-header>
                Legend
            </ion-card-header>
            <ion-card-content>
                HR - Hell Raises; TS - Towel Stretch; SU - Step Ups; SCS - Standing Calf Stretch
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>